<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>hello vue!</div>
<div id="vue-id">
    {{msg}}
    <div>
        <label for="first">
            <input id="first" type="text" v-model="info">  <!-- v-model 关联的联动模式，data中的值也会变 -->
        </label>
        <button @click="handleClick">add</button>
    </div>
    <ul>
        <li v-for="item in list">{{item}}</li>  <!--使用循环-->
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    new Vue({
        el: "#vue-id",  // 绑定
        data() {  // 处理数据
            return {
                msg: "this vue element",
                info: "init",
                list: ["first", "second", "third"],
            }
        },
        methods: {
            handleClick() {
                console.log(this.info);  // 获得info值 this.info 和 data() 产生关系
                this.list.push(this.info);
                console.log(this.list)
            }
        }
    })
</script>
</body>
</html>
